# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtualenv
venv/
ENV/
env/
.venv/

# Django
*.db
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# Git
.git
.gitignore

# IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Tests & coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
